<!DOCTYPE html>
<html ng-app="mainModule">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title> <meta charset="UTF-8">
    <script src="../static/js/angular.min.js"></script>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../controllers/createEmployeeCtrl.js"></script>
</head>
<body>
<div ng-controller="createEmployeeCtrl">

</div>
</body>
</html>